<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unimelb.edu.instamelb.materialtest" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Always required on api < 21, needed to keep a wake lock while your job is running -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Required on api < 21 if you are using setRequiredNetworkType(int) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Required on all api levels if you are using setPersisted(true) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera"
        android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="unimelb.edu.instamelb.materialtest.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="unimelb.edu.instamelb.activities.ActivityMain"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="unimelb.edu.instamelb.activities.ActivityTouchEvent"
            android:label="@string/title_activity_sub" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unimelb.edu.instamelb.activities.ActivityMain" />
        </activity>

        <activity android:name="unimelb.edu.instamelb.activities.LoginActivity" android:theme="@style/AppTheme.Dark.Dialog" />
        <activity android:name="unimelb.edu.instamelb.activities.SignupActivity" android:theme="@style/AppTheme.Dark.Dialog" />
        <activity
            android:name="unimelb.edu.instamelb.activities.ActivityTakePhoto"
            android:label="activity_take_photo"/>
        <activity
            android:name="unimelb.edu.instamelb.activities.ActivityDetail"
            android:label="activity_photo_detail"/>
        <activity
            android:name="unimelb.edu.instamelb.activities.ActivityProfile"
            android:label="activity_user_detail"/>
        <activity
            android:name="unimelb.edu.instamelb.sensors.CameraSensor"
            android:label="Camera Sensor" ></activity>
        <activity
            android:name="unimelb.edu.instamelb.activities.ActivityPhoto"
            android:label="activity_photo" ></activity>
        <activity
            android:name="unimelb.edu.instamelb.activities.ActivityCamera"
            android:label="activity_camera" ></activity>
        <activity
            android:name="unimelb.edu.instamelb.activities.ActivityLibrary"
            android:label="activity_library" ></activity>


    </application>

</manifest>
